<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            <% link_to "index.html" , class: "icono-footer" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          <li>
            <% link_to "index.html" , class: "icono-footer" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          <li>
            <% link_to "index.html" , class: "icono-footer" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          <li>
            <% link_to "index.html" , class: "icono-footer" do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This our new static website</p>
      </div>
    </div>
  </div>
</div>
