

<div class="container text-center">
  <ul class="list-inline">
    <li><img src="http://placehold.it/80x80" alt="" class="img-circle"></li>
    <li><img src="http://placehold.it/80x80" alt="" class="img-circle"></li>
    <li><img src="http://placehold.it/80x80" alt="" class="img-circle"></li>

  </ul>
</div>
